<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <title>Tim Shaffer | Eat A Burger</title>

        <!-- Link for Bootstrap Styling -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Added link to the local css stylesheet -->
        <link rel="stylesheet" href="/assets/css/burger_style.css">

        <!-- Added link to the jQuery Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Added link to the local js file -->
        <script src="/assets/js/burgers.js"></script>

    </head>

	<body>

        {{!-- Added a container div for the body contents --}}
        <div class="container">

            {{!-- Separate the contents into rows --}}
            <div class="row" id="top-row">

                <div class="col">
      
                    <h2>Welcome to Good Burger, Home of the Good Burger</h2> 

                    <h3>May I take your Order?</h3>

                    <img class="img-fluid img-responsive" src="../public/assets/img/Good_Burger.jpg" alt="Good Burger">

                </div>
                {{!-- end of col div --}}

            </div>
            {{!-- end of top-row div --}}
  
		    {{{ body }}}

        </div>
        {{!-- end of the container div --}}
	
    </body>

</html>
