  {{!-- Display buttons to either add Customers or OrderBurgers --}}
  <div class="row">

    <div class="col-2"></div>

    <div class="col-4" id="addCustomer">

      <a class="btn btn-light" href="/customer">Manage Customers</a>

    </div>
    {{!-- end of addCustomer col div --}}
    
    <div class="col-4" id="orderBurgers">

      <a class="btn btn-light" href="/burger">Order Burgers</a>
    {{!-- end of orderBurgers col div --}}

    <div class="col-2"></div>

  </div>
  {{!-- end of row div --}}

 