{{!-- burgers will be items in an un-ordered list --}}
<li>

	{{this.burger_name}} 

	{{#unless this.devoured}} for {{/unless}}

	{{#if this.devoured}} by {{/if}}

	{{this.Customer.cust_name}}

	{{!-- display the button for the burgers where the devoured column is false --}}
	{{#unless this.devoured}}

		<button data-id="{{this.id}}" class="devBurger btn-primary">Devour It!</button>

	{{/unless}}
	
</li>
